@import url('https://fonts.cdnfonts.com/css/avenir');

body{
    font-family: 'Avenir';
}

header{
    text-align: center;
    background-color: black;
    color: white;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: auto;
    height: 100px;
}

img{
    width: 350px;
}


.prototipos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: auto;
    margin-top: auto;
    width: 75%;
}
.prototipo{
    border: solid 1px;
}


